<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>{{ page.title }}</title>
        <link type="text/css" rel="stylesheet" href="/stylesheets/reset.css"/>
        <link type="text/css" rel="stylesheet" href="/stylesheets/post.css?v=javascript_"/>
    </head>
    <body>
        <header>
            <div class="navWrap">
              <h1 style="font-size: 22px; line-height: 48px;"><a href="/">GeekRose</a></h1>
                <nav>
                    <ul>

                    </ul>
                </nav>
            </div>
        </header>
